@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*{
    font-family: Pretendard,'Noto Sans KR', sans-serif;
}
/* container */
.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 120px 0px 80px;
  padding: auto;
}
.login-content {
  max-width: 28rem;
  width: 100%;;
}
/* 01 top */
.login-top {
gap: 20px;
display: flex;
padding: 26px 37px;
overflow: hidden;
align-self: stretch;
align-items: center;
flex-direction: column;
justify-content: center;
}
.login-top-logo {
gap: 2px;
display: flex;
padding: 20px 0;
align-items: center;
justify-content: center;
text-decoration: none;
}
.login-top-logo-text {
color: rgba(0, 0, 0, 1);
height: auto;
font-size: 60px;
font-weight: 700;
}
.login-top-logo-text-star {
color: #FF9F29;
}
.login-top-intro1 {
font-size: 20px;
font-weight: 500;
}
.login-top-intro2 {
color: rgba(113, 112, 112, 1);
font-size: 15px;
}
/* 02 입력 폼 */
.login-form {
display: flex;
flex-direction: column;
}
.login-form-title {
font-size: 13px;
color: rgba(113, 112, 112, 1);
margin: 40px auto;
}

/* 02-02 회원가입 폼 */
.login-form-input {
gap: 30px;
width: 100%;
display: flex;
overflow: hidden;
align-items: flex-start;
flex-direction: column;
margin: 30px auto;
}
.login-form-input-box {
gap: 10px;
display: flex;
overflow: hidden;
align-self: stretch;
align-items: flex-start;
flex-direction: column;
justify-content: center;
}
.login-form-input-box-title {
color: #1A4D2E;
font-size: 15px;
font-weight: 500;
}
.login-form-input-withbtn {
gap: 15px;
display: flex;
align-self: stretch;
align-items: center;
justify-content: space-between;
}
.login-form-input-box-content-withbtn {
width: -webkit-fill-available;
}
.login-form-input-box-content, .login-form-input-box-content-withbtn {
color: rgba(145, 143, 143, 1);
padding: 0 20px;
font-size: 15px;
border-color: rgba(145, 143, 143, 1);
border-style: solid;
border-width: 1px;
border-radius: 10px;
align-self: stretch;
min-height: 35px;
}
.login-form-input-check-alert{
  margin-left: 20px;
  color: rgb(248, 60, 60);
  font-size: 12px;
  }

/* 로그인 버튼 */
.login-form-submit {
  padding: 10px;
  align-self: stretch;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  border-radius: 10px;
  background-color: rgba(26, 77, 46, 1);
  margin: 30px 0 100px;
  border: none;
}
.login-form-submit-text {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
}
.login-form-submit:hover{
  background-color: rgb(44, 125, 75);
}

/* 로그인 페이지 이동 */
.login-movetoSignup {
gap: 20px;
display: flex;
padding: 10px 0;
justify-content: center;
margin: auto;
color: rgba(0, 0, 0, 1);
font-size: 18px;
text-decoration: none;
}
.login-movetoLogin-SignupPg {
color: rgba(26, 77, 46, 1);
font-size: 18px;
text-decoration: underline;
}